.movie {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.movie__info {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
    padding: 0 18px;
}

.movie__title {
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
}

.movie__duration {
    font-weight: normal;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1.38;
}

.movie__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.movie__save-btn {
    border: none;
    border-radius: 30px;
    padding: 9px 0;
    width: 100px;
    height: 29px;
    box-sizing: border-box;
    margin: 18px auto;
    background-color: #F9F9F9;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 0.92;
    position: relative;
}

.movie__save-btn:hover {
    opacity: .6;
    cursor: pointer;
}

.movie__save-btn_active::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-color: #FF4062;
    background-image: url('../../images/savedicon.svg');
    background-repeat: no-repeat;
    background-size: 8px 4.5px;
    background-position: center;
    border-radius: 30px;
}
