.movie {
    max-width: 358px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.movie__info {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
    padding: 0 18px;
}

.movie__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
}

.movie__duration {
    font-weight: normal;
    font-size: 13px;
    line-height: 1.38;
}

.movie__img {

    object-fit: contain;
    width: 100%;
}

.movie__save-btn {
    border: none;
    border-radius: 30px;
    padding: 9px 0;
    width: 100px;
    height: 29px;
    box-sizing: border-box;
    margin: 18px auto;
    background-color: #F9F9F9;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 0.92;
}

.movie__save-btn_active {
    background-color: #FF4062;
    background-image: url('../../images/savedicon.svg');
    background-repeat: no-repeat;
    background-size: 8px 4.5px;
    background-position: center;
}
