.form {
    width: 30.94%;
    margin: 0 auto;
    padding-top: 70px;
}

.form__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
}

.form__greetings {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
}

.form__input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    background: #F9F9F9;
    border-radius: 8px;
    outline: 0;
    border: none;
    padding: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
    margin-bottom: 20px;
}

.form__input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.form__placeholder {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-bottom: 10px;
}

.form__btn {
    display: block;
    width: 100%;
    border: 0;
    color: white;
    background: #000000;
    border-radius: 3px;
    padding: 14px 0;
    font-size: 14px;
}

.form__btn:disabled {
    opacity: 0.7;
}

.form__question {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    color: #A0A0A0;
    text-align: center;
    margin-top: 16px;
}

.form__link {
    text-decoration: none;
    color: black;
    margin-left: 6px;
}

.form__link:hover {
    opacity: .6;
    cursor: pointer;
}

.form__icon {
    margin-bottom: 40px;
}

@media (max-width: 870px) {
    .form {
        width: 51.56%;
        padding-top: 22.66vh;
    }
}

@media (max-width: 560px) {
    .form__question {
        font-size: 12px;
    }

    .form__link {
        font-size: 12px;
    }

    .form {
        width: 81.25%;
        padding-top: 56px;
    }

    .form__icon {
        display: block;
        margin: 0 auto 50px;
    }

    .form__greetings {
        text-align: center;
    }
}
