.about-project {
    padding-top: 110px;
    padding-bottom: 110px;
}


.about-project__text-wrapp {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.about-project__text-block {
    max-width: 550px;
}

.about-project__text-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 26px;
}

.about-project__annotation {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
}

.about-project__timeline {
    display: flex;
    margin-top: 110px;
}

.about-project__back {
    width: 18%;
}

.about-project__front {
    width: 82%;
}

.about-project__time {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 9px 0;
}

.about-project__time_back {
    background-color: black;
    color: white;
}

.about-project__time_front {
    background-color: #F2F2F2;
}

.about-project__type {
    margin-top: 14px;
    display: block;
    color: #A0A0A0;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}

@media (min-width: 740px) and (max-width: 940px) {
    .about-project__text-block {
        max-width: 320px;
    }
}

@media (max-width: 768px) {
    .about-project {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .about-project__timeline {
        margin-top: 90px;
    }
}

@media (max-width: 739px) {
    .about-project__text-wrapp {
        flex-direction: column;
    }

    .about-project__text-block:first-child {
        margin-bottom: 56px;
    }

    .about-project__time {
        font-size: 11px;
    }

    .about-project__type {
        font-size: 11px;
        margin-top: 10px;
    }

    .about-project__back {
        width: 31%;
    }

    .about-project__front {
        width: 69%;
    }

}

@media (max-width: 440px) {
    .about-project__text-title {
        font-size: 18px;
    }

    .about-project__annotation {
        font-size: 11px;
    }
}