.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 21px 5.47% 18px;;
}

.header_promo {
    background-color: #F3C1F8;
}

header_not-promo {
    background-color: white;
}

.header_hidden {
    display: none;
}

.header__btn {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 1.33;
    height: 100%;
    border-radius: 3px;
    padding: 8px 20px;
}

.header__btn:hover {
    opacity: .6;
}

.header__btn_signup {
    color: black;
    background-color: #F3C1F8;
    margin-right: 10px;
}

.header__btn_signin {
    color: white;
    background-color: black;
}

.header__link {
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 14px;
    line-height: 1.29;
    margin-right: 15px;
}

.header__link:hover {
    opacity: .6;
}

.header__account-link {
    position: relative;
    margin-left: 50px;
    margin-right: 30px;
}

.header__acc-img {
    position: absolute;
    background-color: #F9F9F9;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    right: -60px;
    top: -7px;
}

.header__acc-ing_main {
    background-color: #F3C1F8;
}


.header__burger-icon {
    display: none;
}

.header__cross-btn {
    display: none;
}

.header__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}


@media (max-width: 865px){
    .header {
        padding: 21px 3.91% 18px;
    }

    .header__elem {
        margin-bottom: 28px;
    }
    .header__elem:last-child {
        margin-top: 60.7vh;
    }

    .header__link {
        font-size: 18px;
    }

    .header__account-link {
        margin-left: 20px;
        font-size: 14px;
    }

    .header__list {
        margin: 0;
        padding: 0;
        display: block;
        height: 100%;
        padding-top: 15.63vh;
    }

    .header__menu {
        width: 100%;
    }

    .header__burger-icon {
        border: none;
        background-color: #fff;
        background-image: url('../../images/burgericon.svg');
        background-repeat: no-repeat;
        background-position: center;
        object-fit: contain;
        display: block;
        height: 24px;
        width: 28px;
        position: absolute;
        right: 3.91%;
        top: 35%;
    }
    
    .header__main {
        background-color: #F3C1F8;
    }
    
    .header__acc-ing_main {
        background-color: white;
    }
    .header__burger-icon:hover {
        cursor: pointer;
        opacity: .6;
    }

    .header__cross-btn {
        padding: 0;
        display: block;
        background-image: url('../../images/crossicon.svg');
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        object-fit: contain;
        background-position: center;
        border: none;
        background-color: #fff;
        position: absolute;
        right: 22px;
        top: 22px;
    }

    .header__cross-btn:hover {
        cursor: pointer;
        opacity: .6;
    }

    .header__menu_active {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        z-index: 2;
    }

    .header__menu_active::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        opacity: .3;
    }

    .header__nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 67.7%;
        opacity: 1;
        background-color: #fff;
        text-align: center;
        z-index: 4;
    }

    .header__nav_active {
        display: block;
    }

}

@media (max-width: 540px) {
    .header__btn {
        line-height: 1.6; 
        font-size: 10px;
        padding: 5px 12px;
    }

    .header__nav {
        width: 100%;
    }
}