.search__form {
    padding-top: 80px;
    padding-bottom: 10px;
}

.search__wrap {
    display: flex;
    justify-content: space-between;

}

.search__input {
    width: 92.98%;
    border: 1px solid #F9F9F9;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #F9F9F9;
    padding: 15px 22px;
    transition: border .2s ease-in-out;
}

.search__input:focus {
    outline: none;
    border: 1px solid rgb(150, 141, 141);
}

.search__input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.29;
}

.search__btn {
    color: white;
    padding: 13px 0px;
    background-color: #000;
    border-radius: 40px;
    border: none;
    min-width: 70px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}

.search__row {
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    margin-top: 40px;
}