@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./components/component/component.css');
@import url('./components/content/content.css');
@import url('./components/Main/Promo/Promo.css');
@import url('./components/Header/Header.css');
@import url('./components//Main/AboutProject/AboutProject.css');
@import url('./components/Main/Techs/Techs.css');
@import url('./components/Main/AboutMe/AboutMe.css');
@import url('./components/Main/Portfolio/Portfolio.css');
@import url('./components/Footer/Footer.css');
@import url('./components/Form/Form.css');
@import url('./components/Movies/SearchForm/SearchForm.css');
@import url('./components/FilterCheckbox/FilterCheckbox.css');
@import url('./components/Movies/Movies.css');
@import url('./components/Movies/Preloader/Preloader.css');
@import url('./components/MoviesCardList/MoviesCardList.css');
@import url('./components/MoviesCard/MoviesCard.css');
@import url('./components/SavedMovies/SavedMovies.css');
@import url('./components/Profile/Profile.css');
@import url('./components/ErrorPage/ErrorPage.css');
@import url('./components/InfoTooltip/InfoTooltip.css');