@import url('./vendor/normalize.css');
@import url('./components/component.css');
@import url('./components/Main/Promo/Promo.css');
@import url('./components/Header/Header.css');
@import url('./components//Main/AboutProject/AboutProject.css');
@import url('./components/Main/Techs/Techs.css');
@import url('./components/Main/AboutMe/AboutMe.css');
@import url('./components/Main/Portfolio/Portfolio.css');
@import url('./components/Footer/Footer.css');
@import url('./components/Form/Form.css');
@import url('./components/Movies/SearchForm/SearchForm.css');
@import url('./components/Movies/FilterCheckbox/FilterCheckbox.css');
